<%= form_with model: @kitten do | f | %>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.number_field :age %>
  </div>
  <div>
    <%= f.number_field :cuteness, {prompt:"Cuteness level"} %>
  </div>
  <div>
    <%= f.number_field :softness, {prompt:"Softness level"} %>
  </div>
  <div>
    <%= f.submit("Kitten", class: "button is-dark is-outlined") %>
  </div>
<% end %> 